<a href="https://colab.research.google.com/github/nekoPhysics/Basic-Phython/blob/pandas/pandas_quiz_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [ ]:
import pandas as pd
import numpy as np

## データの読み込み

In [ ]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [ ]:
customer_id = df_receipt['customer_id'] == "CS018205000001"
# amountが1000以上またはquantityが5以上
amount = (df_receipt["amount"] > 1000) | (df_receipt["quantity"] > 5)

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [ ]:
df_customer = df_customer.sort_values(by='birth_day')

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [ ]:
df_receipt.count()

sales_ymd         104681
sales_epoch       104681
store_cd          104681
receipt_no        104681
receipt_sub_no    104681
customer_id       104681
product_cd        104681
quantity          104681
amount            104681
dtype: int64

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [ ]:
X = df_receipt.count()
X[5:6]

customer_id    104681
dtype: int64

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [ ]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

In [ ]:
df_receipt.amount.mean()

320.5600825364679

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [ ]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [ ]:
# データフレーム"df_customer"と"df_receipt"を結合する、結合した物を"df_asum"とする
df_asum = pd.concat([df_customer, df_receipt], axis=1)

# 欠損データ(ここではNaN)を0と置き換える
df_asum = df_asum.fillna(0)

#一度確認をする
"""
print(df_asum)
"""

#　対象を女性のみに限定する gender_cd(1)
mask = df_asum["gender_cd"] == 1
mask.head()

18817     True
12328     True
15682     True
15302    False
1681     False
Name: gender_cd, dtype: bool

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [ ]:
# 文字列型で作られた申し込み日を(application_date)をto_datetime関数を利用して日付型に変換する
CNV = pd.to_datetime(df_customer["application_date"]) 
# 日付型に変換した"application_date"を顧客ID""customer_id"と水平結合する
pd.concat((df_customer["customer_id"], CNV), axis=1).head(10)

          customer_id              application_date
18817  CS003813000014 1970-01-01 00:00:00.020160214
12328  CS026813000004 1970-01-01 00:00:00.020150723
15682  CS018811000003 1970-01-01 00:00:00.020150403
15302  CS027803000004 1970-01-01 00:00:00.020151227
1681   CS013801000003 1970-01-01 00:00:00.020160120
7511   CS001814000022 1970-01-01 00:00:00.020161012
2378   CS016815000002 1970-01-01 00:00:00.020150629
4680   CS009815000003 1970-01-01 00:00:00.020150421
16070  CS005813000015 1970-01-01 00:00:00.020150506
6305   CS012813000013 1970-01-01 00:00:00.020150712

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [ ]:
# 顧客IDがZから始まる項目を除外
df_excZ = df_receipt.query('not customer_id.str.startswith("Z")')
# .groupby()でグループ化後amount.sum()で顧客idごとに売上金額を合計、reset_index()でインデックスをリセットし次に備える
df_excZ_amount = df_excZ.groupby('customer_id').amount.sum().reset_index()
# numpyにあるlog10を計算する関数np.log10()を利用する
df_excZ_amount_log10 = np.log10(df_excZ_amount['amount'] + 1)
df_excZ_amount_log10.head(10)

0    3.113609
1    2.797268
2    3.483587
3    3.298635
4    3.523486
5    2.659916
6    2.652246
7    2.472756
8    2.359835
9    2.659916
Name: amount, dtype: float64

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [ ]:
# insull関数を利用する、Trueで欠損値となる
Cnull = df_product.isnull().sum()
print(Cnull)

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [ ]:
df_product_1 = df_product.dropna(how='any')
df_product_1 = df_product_1.dropna(how='any', axis=1)
print(df_product_1)
Dnull = df_product_1.isnull()
Dnull = Dnull.count(True)
print(Dnull)

       product_cd  category_major_cd  category_medium_cd  category_small_cd  \
0      P040101001                  4                 401              40101
1      P040101002                  4                 401              40101
2      P040101003                  4                 401              40101
3      P040101004                  4                 401              40101
4      P040101005                  4                 401              40101
...           ...                ...                 ...                ...
10025  P091503001                  9                 915              91503
10026  P091503002                  9                 915              91503
10027  P091503003                  9                 915              91503
10028  P091503004                  9                 915              91503
10029  P091503005                  9                 915              91503

       unit_price  unit_cost
0           198.0      149.0
1           218.0      164.0
2           230.0      173.0
3           248.0      186.0
4           268.0      201.0
...           ...        ...
10025       280.0      210.0
10026       680.0      510.0
10027      1080.0      810.0
10028      1130.0      848.0
10029      1280.0      960.0

[10023 rows x 6 columns]
0        6
1        6
2        6
3        6
4        6
        ..
10025    6
10026    6
10027    6
10028    6
10029    6
Length: 10023, dtype: int64

In [ ]:
len(df_product), len(df_product_1)

(10030, 10023)

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
#df_product_2 = df_product['unit_price'].fillna()
#df_product_2 = df_product['unit_cost'].fillna()
#df_product_2 = df_product
df_product_2 = df_product.fillna(df_product['unit_price'].mean().round())
df_product_2 = df_product.fillna(df_product['unit_cost'].mean().round())
#df_product = df_product['unit_cost'].fillna(df_product.mean().round())
df_product_2

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,4,401,40101,198.0,149.0
1,P040101002,4,401,40101,218.0,164.0
2,P040101003,4,401,40101,230.0,173.0
3,P040101004,4,401,40101,248.0,186.0
4,P040101005,4,401,40101,268.0,201.0
...,...,...,...,...,...,...
10025,P091503001,9,915,91503,280.0,210.0
10026,P091503002,9,915,91503,680.0,510.0
10027,P091503003,9,915,91503,1080.0,810.0
10028,P091503004,9,915,91503,1130.0,848.0
10029,P091503005,9,915,91503,1280.0,960.0

In [ ]:
df_product_2.isna().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64